/* Apply styles to the entire body */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  /* Style the headings */
  h2 {
    color: #333;
  }
  
  /* Style the radio buttons */
  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Style the labels for the radio buttons */
  label {
    color: #666;
  }
  
  #sidePanel {
    position: fixed;
    bottom: -100%; /* Initially off-screen */
    left: 0;
    width: 100%;
    height: 70%; /* Adjust as needed */
    background-color: #fff;
    transition: bottom 0.3s ease-in-out;
  }
  
  .hidden {
    display: none;
  }
  